/* iOS Cordova Tweak */

.device-cordova.device-ios {
    height: 100vh;
}
.login-input{
    padding-left: 8vw;
    padding-right: 12vw !important;
}
.register-page{
    margin-top: 20vh;
}
.login-buttons{
    width: 60vw;
    margin-left: 20vw;
}
.general-button{
    padding-right: 20%;
    padding-left: 20%;
}
.booking-button{
    padding-bottom: 10%;
    padding-top: 10%;
}
.title-case{
    text-transform: capitalize;   
}
#login{
    margin-top: 7vh;
}
#register{
    margin-top: 7vh;
}
#main-logo {
    height: 30vh;
    width: 50vw;
    background-image: url("../assets/images/pngocean.com.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 25vw;
    margin-top: 10vh;
}
.panel-logo{
    height: 30vh;
    width: 50vw;
    background-image: url("../assets/images/pngocean.com.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10%;
}
/* home view */
.panel-buttons{
    margin-top: 6vh;
}
.card-content-home{
    height: 82vh;
}
.card-content-home .card-header{
    padding:5%;
}
.card-content-home .card-content{
    padding: 10%;
}
.card-content-home .list ul li{
    padding-top: 5% ;
    padding-bottom: 5% ;
}
.popup-services {
    padding: 3% 3% 0 3%;
}
.services-confirm-button{
    height: 40px !important;
}
.ok-right-button{
    width: 10vw;
    float: right;
}
.ok-right-button-2{
    width: 10vw;
    float: right;
}
#margin-start-picker{
    margin-top: 4vh !important;
}
#margin-end-picker{
    margin-top: 8vh !important;
}
/* booking view */

/* Your app custom styles here */